# база данных
DB_HOST=host    
DB_PORT=port         
DB_NAME=name   
DB_USER=user  
DB_PASSWORD=password


# vk_api
VK_GROUP_ID=id
VK_API_VERSION=v
VK_GROUP_TOKEN=group_token
USER_TOKEN=user_token

# Логирование
LOG_LEVEL=INFO
LOG_FILE_PATH=logs/bot.log
