# Токен для доступа к API ВКонтакте (необходим для работы бота)
ACCESS_TOKEN=ваш_пользовательский_токен_здесь

# Токен для отправки сообщений от имени группы
VK_GROUP_TOKEN=ваш_токен_группы_здесь

# ID группы ВКонтакте (от имени которой бот отправляет сообщения)
VK_GROUP_ID=ваш_id_группы_здесь

# Хост базы данных 
DB_HOST=ваш_хост_базы_данных

# Порт PostgreSQL
DB_PORT=ваш_порт_PostgreSQL

# Имя базы данных 
DB_NAME=ваше_название_базы_данных

# Имя пользователя PostgreSQL 
DB_USER=ваше_имя_пользователя_PostgreSQL

# Пароль пользователя PostgreSQL 
DB_PASSWORD=ваш_пароль_пользователя_PostgreSQL
